<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Store-app</title>

  </head>

  <body>

  	<table *ngFor = "let product of products | search:searchTerm; let i = index; ">

		<tr>

			<th>ID</th>

			<th>Name</th>

			<th>Quantity in Stock</th>

		</tr>

		<tr>

			<td>{{product.id}}</td>

			<td><a routerLink="/products/{{product.id}}">{{product.name}}</a></td>

			<td>{{product.quantityInStock}}</td>

			<td><button (click)='addQuantity(product)'> + </button></td>

     		<td><button *ngIf="product.quantityInStock >= 1" (click)='removeQuantity(product)'> - </button></td>

     		<td><button *ngIf="product.quantityInStock == 0" class="btn btn-danger"> - </button></td>



			<!-- <td><a routerLink="/products/{{product.id}}"><strong>Check latest purchases</strong></a></td> -->


			<!-- <td (click)='deleteBuyer(i)'><strong>Remove</strong></td> -->


		</tr>

	</table>

	<router-outlet></router-outlet>


  </body>
</html>